.swal2-popup{
    background-color: red!important;
    color: white !important;
}

.swal2-confirm{
    background-color: #730618 !important;
}

/* icones */

.swal2-warning{
    border-color: white !important;
    color: white !important;
}

/* success icon */
.swal2-success .swal2-success-ring{
    border: 1px solid white !important;
    border-color: white !important;
    color: white !important;
}

.swal2-success[class^=swal2-success-line]{
    background-color: white !important;
}